tags
cscope.out
cscope.files
*.elf
*.hex
*.bin
*.swp
*.xml
.cproject
.project
*.uvoptx
*.prefs
*.launch
*.icf
*.ewd
*.ewp
*.eww
*.ewt
*.jpg
*.bmp
*.html
*.pdf
*.rtf
*.a
*.lib
*.exe
*.vcxproj
*.sln
*.function
*.data
*.png
*.zip
*.js
*.css
*.gif
*.chm
*.res
*.log
*.obj
*.filters
*.user
*.dep
*.shtml
*.plg
*.dsp
*.wav
*.emf
*.uvprojx
*.pch
*.idb
*.sct
*.xls
*.dfu
*.bak
